
*,
*:before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Archivo Narrow', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: #362b14;
}
body::-webkit-scrollbar-thumb {
    background: #f5a32041;
}
#startButton {
    font-size: 1.2em;
    cursor: pointer;
    background-color: #f5a623;
    border: none;
    border-radius: 5px;
}

#triangles-hidden {
    position: absolute;
    width: 200vw;
    height: 200vh;
    align-self: center;
    top: -50vh;
    opacity: 0;
    filter: blur(5px);
    transition: all 2s;
}

#triangles-show {
    position: absolute;
    width: 200vw;
    height: 200vh;
    align-self: center;
    top: -50vh;
    opacity: 1;
    filter: blur(0);
    transition: all 2s;
}
