
canvas{
    display: block;
}

#particles-js {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        rgba(54, 43, 20, 0.5),
        rgba(26, 26, 26, 0.5) 100%
    );
    background-repeat: no-repeat;

    background-position: 50% 50%;
}
