.text-box {
    color: #fff;
    position: absolute;
    bottom: 20%;
    padding: 0 30px;
    pointer-events: none;
    
}

.text-box p{
    font-size: 50px;
    font-weight: 600;
}

.text-box h1 {
    font-size: 190px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 2px #f5a420;
    background: url(../assets/img/back.png);
    -webkit-background-clip: text;
    animation: back-h1 40s linear infinite;
}

.text-box h2 {
    display: block;
    font-size: 100px;
    line-height: 90px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: solid 5px #f5a420;
    background: url(../assets/img/back.png);
    -webkit-background-clip: text;
    animation: back-h2 200ms linear infinite;
}

.text-box h3 span { 
    color: #f5a420;
}


@keyframes back-h1{
    100%{
        background-position: 1000px 0;
        
    }
}

@keyframes back-h2{
    100%{
        background-position: 1000px 0;

    }
}

.text-box h3{
    font-size: 50px;
    font-weight: 600;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.text-box a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
    display: flex;
    align-items: bottom;
    pointer-events: all;
}

.icon-arrow {
    font-weight: 600;
    margin-left: 12px;
    margin-right: 12px;
}

.icon-social {
    position: absolute;
    right: 5%;
    bottom: 10%;
}

.icon-social img{
    height: 22px;
    display: block;
    margin: 25px 5px;

}

@media (max-width: 724px) {
    .text-box h1 {
        font-size: 120px;
        line-height: 120px;
    }
    .text-box p {
        font-size: 30px;
    }
    .text-box h3 {
        font-size: 30px;
    }
}